# Byte-compiled / optimized / DLL files
__pycache__/
*.ipynb

# VSCode settings
.vscode/

# Poetry specific
poetry.lock

# git specific
.git/
.gitmessage.txt

# Audio files
*.mp3
*.wav
*.jpg
*.jpg
*.mp4
*.txt
*.json

# Exceptions
!test/*.png
!test/*.json

# Directories
path/
data/

# env
.env
